Gemfile.lock
build/*
*.swp
.#*
\#*#
*__pycache__*
*.pyc
*.pyo
*.bak
.DS_Store
.rvmrc
tmp/*
*.o
*.bundle
*.so
core
Makefile
.idea/
*.gem
perf/profile.rb
perf/*.pdf
perf/*.profile
perf/*.symbols
TODO
.rbx/
gem-private_key.pem
.ruby-version
.ruby-gemset
yard-docs
lib/*.jar
.yardoc
