Gemfile.lock
build/*
*.swp
.#*
\#*#
*__pycache__*
*.pyc
*.pyo
*.bak
.DS_Store
.rvmrc
tmp/*
*.o
*.bundle
Makefile
.idea/
*.gem
perf/profile.rb
perf/*.pdf
perf/*.profile
perf/*.symbols
*.jar
TODO
.rbx/
