name: CI

on: [push, pull_request]

jobs:
  build:
    name: >-
      ${{ matrix.os }} ${{ matrix.ruby }}
    env:
      CI: true
      TESTOPTS: -v

    runs-on: ${{ matrix.os }}-latest
    if: |
      !(   contains(github.event.pull_request.title,  '[ci skip]')
        || contains(github.event.pull_request.title,  '[skip ci]')
        || contains(github.event.head_commit.message, '[ci skip]')
        || contains(github.event.head_commit.message, '[skip ci]'))
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu, macos, windows ]
        ruby: [ 2.5, 2.6, 2.7, 3.0, 3.1, head ]
        include:
          - { os: windows , ruby: mingw }
        exclude:
          - { os: windows , ruby: head }
          - { os: windows , ruby: 3.1 }

    steps:
      - name: repo checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: load ruby, ragel
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: 2

      - name: bundle install
        run:  bundle install --jobs 4 --retry 3

      - name: compile
        run:  bundle exec rake compile

      - name: test
        timeout-minutes: 10
        run: bundle exec rake spec
